@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    overflow: hidden;
    transition: .2s linear height;
    &[data-open=true]{
        height: calc(100vh - 6rem);
    }
    &[data-open=false]{
        height: 0;
    }

}

.container {
    @include flex(flex-start,flex-start,column, null, .75rem);
    padding: 3rem;
}

@media only screen {
    @media (min-width:800px){
        .wrapper {
            
            overflow: visible;
            &[data-open=true],
            &[data-open=false]{
                height: 100%;
            }
        }       
        .container {
            @include flex(center,flex-end, row nowrap, .84vw, null);
            padding: 0;
            height: 100%;
        }
    }
}