@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Utils.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    align-items: center;
    background-color: color-mix(in srgb, $blue_delift 20%, $black_2 80%);
    background-image: linear-gradient(to bottom right, color-mix(in srgb, $blue_delift 20%, $black_2 80%),color-mix(in srgb, $blue_delift 15%, $black_2 85%));
    border-radius: 2rem;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(12,1fr);
    padding: 2rem 1rem;
}

.media {
    @include size(8rem,8rem);
    border-radius: 2rem;
    display: block;
    grid-column: 1/-1;
    overflow: hidden;
    position: relative;
}

.image {
    object-fit: contain;
    object-position: center;
}

.container {
    @include flex(flex-start,flex-start, column, null, 2rem);
    grid-column: 1/-1;
}

.title,
.job {
    @include heading_section;
}

.duration {
    @include font(clamp(1.3rem, 1.45vw, 1.6rem), 500, 1, end, null, $martian);
    width: 100%;
}

.title {
    color:color-mix(in srgb, $orange 45%, $white 55%);
    font-size: clamp(2.75rem, 3.5vw, 5.25rem);
}
.job {
    font-size: clamp(2rem, 2.15vw, 3.5rem);
}

.content {
    @include content_section;
}

@media (min-width:1400px){
    .wrapper {
        gap:2rem;
        padding: 2rem;
    } 
    .media {
        @include size(100%,100%);
        grid-column: 1/4;
    }
    .container {
        grid-column: 4/-1;
    }
}