// FONTS ===================================
$bold:var(--oswald);
$mono:var(--roboto);
$regular:var(--nuntio);

// COLORS ===================================

$black:rgb(3, 3, 3);
$white:rgb(250, 250, 250);
$gray:rgb(86, 84, 86);
$silver:rgb(193, 193, 193);
$din:rgb(105, 107, 108);
$erie:rgb(26, 26, 26);
$orange:rgb(253, 83, 8);
$spring:rgb(160, 255, 1);

$success:rgb(0, 193, 83);
$error:rgb(252, 85, 93);

// GRADIENTS =================================

$blackGradient:linear-gradient(to bottom right, rgb(30, 31, 37),rgb(29, 29, 37),rgb(24, 25, 31) ,rgb(12, 13, 17));
$orangeGradient: linear-gradient(to bottom right, rgb(255, 105, 29), #ff7433, #e56528, #cc5a23);
$yellowGradient:linear-gradient(to bottom right, rgb(249, 248, 113), #f9e971, #e0d964, #c6c558);
$greenGradient:linear-gradient(to bottom right, rgb(0, 198, 176), #00bfae, #00a399, #008c85);

$customGradient:linear-gradient(to bottom right, rgba($orange,1),rgba($orange,.54), transparent,transparent,transparent) ;