// FONTS ===================================
$raleway:var(--raleway);
$spectral:var(--spectral);

// COLORS ===================================
$aquamarine:rgb(40, 254, 225);
$alice:rgb(241, 250, 255);
$alloy:rgb(193, 96, 31);
$black:rgb(3, 3, 5);
$erie:rgb(24, 27, 26);
$ice:rgb(145, 253, 239);
$midnight:rgb(4, 54, 60);
$orange:rgb(245, 117, 50);
$white:rgb(255, 255, 255);


// GRADIENTS =================================


