@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,flex-end,row nowrap,.45rem);
    grid-column: 10/-1;
    grid-row: 1;
}

@media only screen {
    @media (min-width:1050px){
        .wrapper {
            grid-column:17/-1 ;
        }
    }
}