@use "../../../../styles/variables" as *;

.wrapper {
    align-items: center;
    // background: blue;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    grid-column: 1/6;
    grid-row: 1;
}

.logo {
    object-fit: contain;
}

.brand {
    font-family: $font-oswald;
    font-size: clamp(1em, 4dvw + 0.5em, 2.75em);
    font-weight: 900;
}

@media (min-width:1024px) {
    .brand {
        font-size: clamp(1em, 4dvw + 0.5em, 1.5em);
    }
}