@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    // background-color: red;
    margin: 0 auto;
}

.image__wrapper {
    aspect-ratio: 4/3;
    border-radius: .4rem;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image {
    object-fit: cover;
    object-position: center;
}

.container {
    padding: .45rem;
}

.title {
    @include font(clamp(2.2rem, 2.5vw,2.7rem), 700, 1.1, null, null, start);
    text-wrap: balance;
}

.excerpt {
   @include font(clamp(1.44rem, 1.55vw, 1.6rem), 300, 1.6, null, null, start); 
}

.details {
    @include flex(center, space-between, row wrap, 1rem,.5rem, false);
    padding: 0.45rem;
    margin-top: 1.2rem;
    // margin: 2rem 1rem 2rem auto;
}

.category {
    border:2px solid $black;
    border-radius: 2rem;
    padding: 0.45rem 1.64rem;
    transition: .12s linear background-color, .12s linear color;
    &:focus-within,
    &:hover {
        background-color: $black;
        color:$gray;
    }
}