@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,flex-start, row nowrap);
    @include size(100%,100%);
    transition:.15s linear color;
    &:focus-within,
    &:hover {
        color:$orange;
    }
}

.media {
    @include size(5rem,5rem);
    display: block;
    position: relative;
}

.image {
    object-fit: contain;
    object-position: center;
}

.title {
    @include font(clamp(1.7rem, 2.4vw, 3rem),800, 1,start, null, $bold);
}