@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    background-color: color-mix(in srgb, $black 35%, $erie 65%);
    border-radius: .85dvw;
    padding: 2rem;
    transition:.2s linear background-color;
    width:clamp(5rem,30rem,95%);
    & > * {
        width: 100%;
    }
    &:focus-within,
    &:hover {
        background-color: color-mix(in srgb, $din 5%, $erie 95%);
    }
}

.media {
    aspect-ratio: 16/10;
    border-radius: .85dvw;
    display: block;
    margin:1rem 0;
    overflow: hidden;
    position: relative;
}

.image {
    @include size(100%,100%);
    object-fit: cover;
    object-position: center;
}

.details {
    @include flex(center,space-between, row nowrap);
    border-top:1px solid rgba($din,.55);
    margin-top: 1rem;
    padding-top: 1rem;
}

.title {
    @include font(clamp(2.7rem, 3.4vw, 4.2rem), 700, .97, null, null, start);
    margin-bottom: 1rem;
    text-wrap: balance;
    transition:.2s linear color;
    &:focus-within,
    &:hover {
        color:$orange;
    }
}

.excerpt {
    @include font(clamp(1.32rem,1.5vw,1.7rem), 300, 1.4, null, null, start);
    color:color-mix(in srgb, $silver 65%, $din 35%);
    margin-top: 0.6rem;
    text-wrap:pretty;
}

.category {
    @include flex(center,center);
    background-color: color-mix(in srgb, $black 65%, $erie 35%);
    border-radius: .85dvw;
    font-family: $mono;
    font-size: 1.5rem;
    outline:1px solid rgba($silver,.25);
    padding: 0.25rem 1.25rem;
}

.release {
    color: color-mix(in srgb, $white 65%, $silver 35%);
    font-size: 1.5rem;
}

@media only screen {
    @media (min-width:650px){
        .wrapper {
            @include size(100%,100%);
            display: flex;
            flex-flow:column;
            justify-content: space-between;
        }

        .container {
            margin-bottom: 1rem;
        }

        .details{
            margin-bottom: 0;
            margin-top: auto;
        }
        .excerpt {
            color:color-mix(in srgb, $silver 65%, $din 35%);
            font-size: clamp(1.42rem,1.6vw,1.8rem);
            margin-top: 0.6rem;
            text-wrap:pretty;
        }
    }
    @media (min-width:970px){
        .wrapper {
            width: 45rem;
        }
        .container {
            padding: 2.5rem;
        }
    }
    @media (min-width:1535px){
        .wrapper {
            width: 100%;
        }
    }
}