@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    @include flex(center,center);
    @include size(4.44rem,4.44rem);
    // background: #00ffff;
    font-size: 3.6rem;
    position: relative;
    color:$jet;
    position: relative;
    &::after {
        @include size(2.3px,100%);
        background-color: $jet;
        bottom: 0;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%) scaleX(0);
        transition:.2s linear background-color, .2s linear transform;
    }

    & > * {
        transition:.2s linear transform;
    }

    &:focus-within,
    &:hover {
        color:color-mix(in srgb, $jet 40%, $grape 60%);
        &::after {
            background-color: color-mix(in srgb, $jet 40%, $grape 60%);
            transform: translateX(-50%) scaleX(1);
        }
        & > * {
            transform: translateY(1rem);
        }
    }
}