@use "../../../styles/variables" as *;

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 4.25rem 0%;
    background-color: color-mix(in lab, change-color($color: $color-black-erie, $alpha: .75) 95%, change-color($color: $color-black-night, $alpha: .75));
    // background: lime;
    // height: 8rem;
    // background-color: change-color($color: $color-black-erie, $alpha: .85);
    height: calc(4.25rem + .64rem + .64rem);
    padding: .64rem 1.5rem;
    border-radius: 2.2rem;
    position: fixed;
    top: .45rem;
    box-shadow: 0 0 1rem .15rem change-color($color: $color-black-erie, $alpha: .25);
    transition: .25s .65s ease-in-out all, .25s ease-in-out top, .25s .25s ease-in-out width;
    // margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    z-index: 99;

    &[data-expand=true] {
        background-color: color-mix(in lab, change-color($color: $color-black-erie, $alpha: 1) 95%, change-color($color: $color-black-night, $alpha: 1));
        width: 100%;
        border-radius: 0;
        height: 100vh;
        top: 0;
        grid-template-rows: 6.25rem auto;
        transition: .15s ease-in-out all, .15s .2s ease-in-out top, .15s .15s ease-in-out width;
    }

}

.settings {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    // background: red;
    grid-column: 6/-1;
    grid-row: 1;
}

@media (min-width:768px) {
    .wrapper {
        padding: .84rem 3.5rem;
        width: 70%;
    }
}

@media (min-width:1024px) {
    .wrapper {
        align-items: center;
        background-color: color-mix(in lab, change-color($color: $color-black-erie, $alpha: .875) 95%, change-color($color: $color-black-night, $alpha: .875));
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        padding: .84rem 1.5rem;
        height: 7rem;
        box-shadow: 0 0 1rem .65rem change-color($color: $color-black-erie, $alpha: .32);
        width: min(120rem, 95%);

        &[data-expand=true] {
            background-color: color-mix(in lab, change-color($color: $color-black-erie, $alpha: .875) 95%, change-color($color: $color-black-night, $alpha: .875));
            width: min(150rem, 85%);
            border-radius: 2.2rem;
            height: 7rem;
            top: .45rem;
        }

        transition: .2s linear background-color;

        &:hover {
            background-color: color-mix(in lab, change-color($color: $color-black-erie, $alpha: 1) 95%, change-color($color: $color-black-night, $alpha: 1));
        }

    }

    .settings {
        display: none;
    }
}