@use "../../../../styles/variables" as *;

.wrapper {
    border-radius: .72rem;
    display: grid;
    grid-template-areas: "layer";
    margin: 6.35rem auto 2rem;
    overflow: hidden;
    position: relative;
    width: 99%;
}

.box,
.media {
    grid-area: layer;
}

.box {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    // min-height: 60vh;
    padding: 2rem;
    z-index: 1;
}

.title,
.subtitle {
    font-family: $font-oswald;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 2.5rem change-color($color: $color-black-erie, $alpha: .60);

}

.title {
    color: $color-coquelicot;
    font-size: clamp(2.4rem, 18vw + 0.5em, 18em);
}

.subtitle {
    color: $color-platinum;
    font-size: clamp(2rem, 7vw + 0.5em, 4em);
    text-wrap: balance;
    margin-top: 1.2rem;
}

.details {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;

    .detail {
        font-size: 1.2em;
        text-decoration: underline;
        text-underline-offset: 1rem;
    }
}

.media {
    inset: 0;
    position: absolute;
    z-index: 0;

    video {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

}

.gallery {
    // background: salmon;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: .5rem;
    padding: 0rem .5rem;

    &__item {
        // background-attachment: fixed;
        // background-size: cover;
        // background-image: url('/worker.webp');
        position: relative;
        border-radius: 2.2rem;
        overflow: hidden;

        &__media {
            // display: none;
            object-fit: cover;
            object-position: center;
        }

        &:not(:nth-last-of-type(1)) {
            display: none;
        }
    }
}


@media (min-width:585px) {
    .wrapper {
        margin-top: 6.5rem;
        width: 98%;
    }
}

@media (min-width:610px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        height: 35rem;
        margin-bottom: 6rem;

        &__item {
            &:nth-of-type(even) {
                transform: translateY(4rem);
            }

            &:not(:nth-last-of-type(1)) {
                display: block;
            }
        }
    }
}

@media (min-width:1200px) {
    .wrapper {
        // margin-top: 3.5vh;
    }

    .gallery {
        height: 50rem;
    }
}