@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    // background: deeppink;
}

.head {
    align-items: center;
    // background: brown;
    display: grid;
    grid-template-columns: calc(100% - 5rem) 5rem;
    min-height: 7.5rem;
    padding: 0.3rem 1rem;
}

.button {
    @include flex(center,center);
    @include size(5rem,5rem);
    // background: black;
    font-size: 4.3rem;
}

.title {
    @include font(clamp(2rem, 3.3vw,4.7rem), 600, 1, null, null, start);
}

.line {
    @include size(.5rem, 100%);
    background-image: linear-gradient(to bottom right,color-mix(in srgb, $green 40%, $yellow 60%) ,  $white);
    border-radius: 1rem;
    display: block;
    margin:.3rem 0;
}

.box {
    // background: green;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    min-height: 30rem;
}

.content {
    @include font(clamp(1.45rem, 1.6vw, 1.7rem), 300, 1.7, null, null, start);
    // background: black;
    grid-column: 1/3;
    opacity: 0.85;
    padding: 1.2rem;
}

.details {
    // background: pink;
    padding: 2rem;
    grid-column: 3/5;
}

.release {
    @include font(clamp(1.45rem, 1.56vw, 1.62rem), 400, 1, null, null, start);
    font-family: $font_mono;
}

.categories {
    // background: purple;
    margin:1rem 0 2rem;
}


.categories__list {
    @include flex(flex-start,flex-start, row wrap, .42rem, .42rem);
}

.categories__item {
    background-color: color-mix(in srgb, $green 20%, $black 80%);
    border-radius: .6rem;
    padding: 0.2rem 0.64rem;
}


.image__wrapper {
    // background: white;
    grid-column: 5/-1;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 1rem;
}

.image {
    object-fit: cover;
    object-position: center;
}