@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,center, row nowrap, 1.6rem);
    @include flex(center,center, row nowrap, 1rem);
    padding: 0.95rem 1.7rem;
    padding: 0.55rem 1.37rem;
    min-height: 4rem;
    transition:.12s linear background-color,.12s linear color;
    &[data-theme="dark"]{
        border:3px solid $black;
        border:2px solid $black;
        color:$black;
        &:focus-within,
        &:hover {
            background-color: $black;
            color:$white;
        }
    }
    &[data-theme="white"]{
        border:3px solid $white;
        border:2px solid $white;
        color:$white;
        &:focus-within,
        &:hover {
            background-color: $white;
            color:$black;
        }
    }
}

.title {
    @include font(clamp(2.2rem, 2.5vw,2.83rem), 500, 1, null, null, start);
    @include font(clamp(1.7rem, 2.5vw,2.83rem), 500, 1, null, null, start);
}

.icon {
    @include flex(center,center);
    @include size(2.8rem,2.8rem);
    @include size(2.38rem,2.38rem);
    font-size: 2.6rem;
    font-size: 2.1rem;
}

@media only screen {
    @media (min-width:550px){
               
        .wrapper {
            column-gap:1.6rem;
            padding: 0.75rem 1.37rem;
            &[data-theme="dark"]{
                border:3px solid $black;
            }
            &[data-theme="white"]{
                border:3px solid $white;
            }
        }
        
        .title {
            font-size: clamp(2.3rem, 2.7vw,3.1rem);
        }
        
        .icon {
            @include size(2.88rem,2.88rem);
            font-size: 2.6rem;
        }
        
    }
}