@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    padding: 2rem;
}


.container {
    background-color: color-mix(in srgb, $black 70%, $erie 30%);
    border-radius: 1dvw;
    display: grid;
    grid-template-columns: 2fr 6fr;
    padding: 2rem;
}

.box {
    @include flex(center,space-between, row wrap-reverse,null, null,false);
    padding: 1rem;
    margin:2rem 0;
}