/* postcss */

.row-start-2 {
  grid-row-start: 2
}

.row-start-3 {
  grid-row-start: 3
}

.mb-2 {
  margin-bottom: 0.5rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-10 {
  height: 2.5rem
}

.min-h-screen {
  min-height: 100vh
}

.list-inside {
  list-style-position: inside
}

.list-decimal {
  list-style-type: decimal
}

.grid-rows-\[20px_1fr_20px\] {
  grid-template-rows: 20px 1fr 20px
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-items-center {
  justify-items: center
}

.gap-16 {
  gap: 4rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-4 {
  gap: 1rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-8 {
  gap: 2rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-solid {
  border-style: solid
}

.border-transparent {
  border-color: transparent
}

.p-8 {
  padding: 2rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.pb-20 {
  padding-bottom: 5rem
}

.text-center {
  text-align: center
}

.font-\[family-name\:var\(--font-geist-mono\)\] {
  font-family: var(--font-geist-mono)
}

.font-\[family-name\:var\(--font-geist-sans\)\] {
  font-family: var(--font-geist-sans)
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-semibold {
  font-weight: 600
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:border-transparent:hover {
  border-color: transparent
}

.hover\:bg-\[\#383838\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(56 56 56 / var(--tw-bg-opacity, 1))
}

.hover\:bg-\[\#f2f2f2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity, 1))
}

.hover\:underline:hover {
  text-decoration-line: underline
}

.hover\:underline-offset-4:hover {
  text-underline-offset: 4px
}

@media (min-width: 640px) {
  .sm\:h-12 {
    height: 3rem
  }

  .sm\:min-w-44 {
    min-width: 11rem
  }

  .sm\:flex-row {
    flex-direction: row
  }

  .sm\:items-start {
    align-items: flex-start
  }

  .sm\:p-20 {
    padding: 5rem
  }

  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }

  .sm\:text-left {
    text-align: left
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
  }

  .dark\:hover\:bg-\[\#1a1a1a\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(26 26 26 / var(--tw-bg-opacity, 1))
  }

  .dark\:hover\:bg-\[\#ccc\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(204 204 204 / var(--tw-bg-opacity, 1))
  }
}
