@import "../Animations.scss";
@import "../Mixins.scss";
@import "../Variables.scss";


.hp_tile {
    background-color: color-mix(in srgb, $black 60%, $purple 30%);
    // border-radius: 3rem;
    padding: 2rem 3rem;
    margin:5rem auto;
    // width:95%;
}