@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:17vh auto;
    width:clamp(5rem, 160rem, 95%);
}

.box {
    animation: show_x_left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.title {
    @include font(clamp(6.1rem, 9vw, 14rem), 700, 1.1, null, null, start);
}

.content {
    @include font(clamp(1.55rem, 1.7vw,1.9rem), 400, 1.7, null, null,start);
    color:$gray-dim;
    max-width: 65ch;
    margin: 3rem 0;
    opacity: 0.82;
}

.cards {
    @include flex(flex-start,center, column, null, 1rem);
    margin-top: 3vh;
}

@media only screen {
    @media (min-width:1300px){
        .cards {
            margin-top: 13vh;
        }
    }
}