@import '../../../../../styles/vars.scss';

.wrapper {
    width: 95%;
    margin:4rem auto;
}

.box {
    align-items: end;
    display: grid;
    grid-template-columns:24rem calc(100% - 24rem - 7rem - 2rem) 7rem;
    gap:2rem;
}

.media {
    aspect-ratio: 5/7;
    display: block;
    position: relative;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;
}

.image {
    object-fit: cover;
    object-position: center;
}

.title {
    // background-color: pink;
}

.button {
    // background-color: red;
    margin:auto auto 0 auto;
    height: 5.2rem;
    width: 5.2rem;
}

.icon {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 6.25em;
    font-family: $heading;
    text-wrap:balance;
    font-weight: 900;
}

.container {
    padding: 2.3rem;
}

.content {
    color:$gray;
    font-size: 1.72em;
    font-weight: 500;
    line-height: 1.92;
}

.cards {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-flow:row wrap;
    gap: 0.8em;
}

.card {
    background-color: $gunmetal;
    color:$gray;
    font-size: 1.02em;
    font-weight: 800;
    border-radius: 1rem;
    padding: 0.45rem 1.62rem;
    transition:.2s linear box-shadow, .2s linear background-color, .2s linear color;
    &:focus,
    &:focus-within,
    &:hover {
        background-color: transparent;
        color:$gray;
        box-shadow: 0 0 1.25px 1.25px $gray;
    }
}