// FONTS ===================================
$font_bold:var(--bold);
$font_cursive:var(--cursive);
$font_mono:var(--mono);
$font_regular:var(--regular);
// COLORS ===================================
$black:rgb(19, 19, 19);
$green:rgb(96, 253, 0);
$silver:rgb(177, 177, 177);
$purple:rgb(62, 35, 182);
$yellow:rgb(216, 253, 0);
$white:rgb(255, 255, 255);
// GRADIENTS =================================


