// FONTS ===================================

// COLORS ===================================
$aqua:rgb(97, 203, 255);
$black:rgb(2, 2, 2);
$blue:rgb(52, 99, 242);
$green:rgb(96, 253, 0);
$gray-dark:rgb(20, 20, 20);
$gray-light:rgb(59, 59, 59);
$night:rgb(11, 11, 11);
$silver:rgb(177, 177, 177);
$purple:rgb(62, 35, 182);
$red:rgb(233, 83, 84);
$yellow:rgb(216, 253, 0);
$white:rgb(255, 255, 255);
// GRADIENTS =================================


