@import "../../../../styles/vars.scss";

.wrapper,
.social {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wrapper {
  flex-flow: row wrap;
  height: 100%;
  row-gap: 2em;
}

.social {
  border-radius: 50%;
  height: 3.35rem;
  transition: 0.2s linear background-color;
  width: 3.35rem;
  & > * {
    fill: var(--socialMediaColor);
    height: 1.2em;
    margin: auto;
    transition: 0.2s linear fill, 0.2s linear transform;
    width: 1.2em;
  }
  &:focus,
  &:focus-within,
  &:hover {
    background-color: transparent;
    & > * {
      fill: $white;
      transform: scale(0.97);
    }
  }
}

@media (min-width: 1250px) {
  .wrapper {
    flex-flow: column;
  }
}
