@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

@keyframes show {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba($blue,.24);
    }
}

.wrapper {
    animation: show linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin:2vh 0;
    padding: 10vh 5vw;
}

.box {
    animation: show_x_left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.title {
    @include font(clamp(5rem,7.2vw, 9rem), 700, 1.1, null, null, start);
    font-family: $special;
}

.content {
    @include font(clamp(1.62rem, 1.7vw, 1.8rem), 400, 1.6,null, null, start);
    max-width: 70ch;
    margin-top: 2rem;
}

.cards {
    @include flex(flex-end,flex-start, column, null, 3rem);
    margin-top: 3rem;
}