@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    background-color: color-mix(in srgb, $gray 85%, $white 15%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    width:clamp(5rem, 43.5rem, 99%);
}

.details {
    @include flex(center,flex-start,row nowrap, 1rem);

}

.image__wrapper {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.content {
    @include font(clamp(1.5rem,1.6vw,1.8rem), 350, 1.6, null, null, start);
    padding: 1.5rem;
}

.person {
    @include flex(flex-start,center, column);
}

.fullname {
    @include font(clamp(1.7rem,1.92vw,2.1rem), 500, 1.1, null, null, null);
}

.company {
    @include font(clamp(1.35rem,1.4vw,1.454rem),300, 1, null, null,start);
    // font-style: italic;
}