@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin: 4vh auto;
    width: 95vw;
}

.title {
    @include font(clamp(3.25rem, 7.5vw, 10rem), 700, 1.1, null, null, start);
    text-wrap: balance;
    max-width: 30ch;
}


.cards {
    padding: 1rem;
}


