@use "../../../../../styles/variables" as *;

.box {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    gap: .52rem;
}

.button {
    align-items: center;
    display: flex;
    color: color-mix(in srgb, $color-gray-battleship 45%, $color-white-smoke);
    // background: red;
    justify-content: center;
    cursor: pointer;
    height: 3rem;
    font-size: 1.52em;
    width: 3rem;
    transition: .182s linear color;

    &:hover {
        color: color-mix(in srgb, $color-white 15%, $color-cinnabar-light);
    }
}

.dropdown {
    align-items: flex-start;
    background-color: color-mix(in lab, change-color($color: $color-black-erie, $lightness: 20%, $alpha: 1) 95%, change-color($color: $color-black-night, $alpha: .75));
    gap: .75rem;
    border-radius: 1.2rem;
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: flex-start;
}

@media (min-width:1024px) {
    .wrapper {
        transform: scaleY(1);
    }

    .button {
        height: 2.5rem;
        font-size: 1.02em;
        width: 2rem;
    }

    .dropdown {
        position: absolute;
        width: 18rem;
    }
}