@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    min-height: 90vh;
    margin:6vh auto;
    padding: 3.5vh 4vw;
}

.content__box {
    animation: show_x_left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.content {
    @include font(clamp(1.7rem, 1.82vw,2.4rem), 500, 1.82, null, null, start);
    color:$gray-dim;
    max-width: 65ch;

    b,strong {
        color:$black;
    }
}

.image__box {
    @include size(60vh,100%);
    animation: show_x_right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    display: block;
    margin-top: 5rem;
    position: relative;
}

.image {
    object-fit: contain;
    object-position: bottom right;
    // object-position: bottom center;
}

@media only screen {
    @media (min-width:825px){
        .wrapper {
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
        .content__box {
            grid-column: 1/4;
            grid-row:1;
        }
        .image__box {
            @include size(100%,100%);
            grid-column: 4/-1;
            grid-row:1 ;
            margin-top:unset;
        }
    }
    @media (min-width:1200px){
        .content {
            font-size: clamp(1.9rem, 2.12vw,2.6rem);
            max-width: 55ch;
        }
        .image__box {
            grid-column: 2/-1;
        }
    }
}