
// Fonts
$mukta:var(--mukta);
$righteous:var(--righteous);
$syne-mono:var(--syne-mono);
// $cite:var(--playwrite);


//  Colors
$black:rgb(1, 1, 1);
$celestial:rgb(29, 161, 242);
$correct:rgb(26, 212, 113);
$coquelicot:rgb(255, 55, 0);
$davy:rgb(92, 90, 90);
$erie:rgb(30, 27, 27);
$error:rgb(232, 22, 22);
$jet:rgb(24, 24, 24);
$onyx:rgb(56, 59, 67);
$orange:rgb(239, 64, 6);
$pale:rgb(166, 225, 250);
$platinum:rgb(227, 227, 227);
$salmon:rgb(255, 96, 43);
$seasalt:rgb(250, 250, 250);
$sky:rgb(0, 221, 255);
$silver:rgb(199, 199, 199);
$smoke:rgb(243, 243, 243);
$white:rgb(255, 255, 255);


//  Gradients