
// Fonts
$antonio:var(--antonio);
$mukta:var(--mukta);
$martian:var(--martian);
$ubuntu:var(--ubuntu);

// $cite:var(--playwrite);


//  Colors
$black_1:rgb(5, 5, 5);
$black_2:rgb(11, 11, 12);
$black_3:rgb(14, 14, 16);

$jet:rgb(51, 51, 51);

$blue_oxford:rgb(27, 25, 49);
$blue_space:rgb(36, 46, 73);
$blue_delift:rgb(55, 65, 92);
$tangerine:rgb(253, 164, 129);
$red:rgb(180, 24, 45);
$white_ghost:rgb(235, 232, 237);
$white_platinum:rgb(225, 225, 225);
$white_smoke:rgb(245, 245, 245);
$white:rgb(255, 255, 255);
$orange:rgb(255, 89, 0);
$purple:rgb(84, 22, 43);

$seo:rgb(234, 225, 81);
$web_care:rgb(245, 130, 255);
$www:rgb(0, 225, 241);
$news:rgb(255, 133, 143);

//  Gradients