@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    height:calc(100vh - 5.75rem - .9rem);
    grid-column: 1/-1;
    grid-row: 2;
    overflow: hidden;
    transition:.22s ease-in-out height, .12s ease-in-out transform;
    transform-origin: top;
    &[data-open=false]{
        height: 0; 
    }
}

.container {
    @include flex(flex-start,flex-start,column, null,1rem);
    height: 100%;
    overflow-y: scroll;
    padding: 2rem;
    &::-webkit-scrollbar {
        width: 0;
    }
}


@media only screen {
    @media (min-width:1050px){
        .wrapper {
            grid-column: 4/14;
            grid-row: 1;
            overflow: visible;
            &,
            &[data-open=false]{
                height: 100%;
            }
        }
        .container {
            @include flex(center,flex-start,row nowrap,1.25rem,unset);
            overflow-y: visible;
        }
    }
    @media (min-width:1225px){
        .wrapper {
            grid-column: 3/14;
        }
    }
}