@import "../../../../../../styles/Mixins.scss";
@import "../../../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,flex-start, row nowrap);
    a {
        @include font(clamp(1.6rem, 2.5vw, 3.3rem), 500, 1, start, null, $code, uppercase);
        position: relative;
        transition: .32s linear color;
        &::after {
            @include size(2px,100%);
            background-color: $orange;
            bottom: 0;
            left: 0;
            position: absolute;
            transform-origin: left;
            transform: scaleX(0);
            transition: .32s linear transform;
        }
        &:focus-within,
        &:hover {
            color:$orange;
            &::after {
                transform: scaleX(1);
            }
        }
    }

    button {
        @include size(3rem, 3rem);
        @include flex(center,center);
        font-size: 2.2rem;
        font-family: $code;
        transition: .32s linear color;
        &:focus-within,
        &:hover {
            color:$salmon;
        }
    }
}

@media only screen {
    @media (min-width:800px){
        .wrapper {
            column-gap:.4rem;
            a {
                font-size: clamp(1.55rem, 1.7vw, 1.9rem);
            }
            button {
                @include size(2rem, 2rem);
                font-size: 1.75rem;
            }
        }
    }
}