$color-black: lch(0% 0 0);
$color-black-night: lch(6.96% 1.38 199.49);
$color-black-erie: lch(12.25% 2.41 198.86);
$color-gray-battleship: lch(61.46% 1.15 199.68);
$color-white-smoke: lch(96.54% 0.01 296.81);
$color-white: lch(100% 0.01 296.81);
$color-coquelicot: lch(58.14% 91.07 42.87);
$color-cinnabar-light: lch(56.95% 76.46 42.45);
$color-cinnabar-dark: lch(53.67% 81.16 39.55);

$font-oswald: var(--font-oswald);
$font-nunito: var(--font-nunito);