$color-black: hsl(0, 0%, 0%);
$color-black-night: hsl(180, 7%, 8%);
$color-black-erie: hsl(180, 8%, 12%);
$color-gray-battleship: hsl(180, 1%, 58%);
$color-platinum: hsl(290, 11%, 89%);
$color-white-smoke: hsl(0, 0%, 96%);
$color-white: hsl(0, 0%, 100%);
$color-coquelicot: hsl(12, 100%, 56%);
$color-cinnabar-light: hsl(12, 84%, 56%);
$color-cinnabar-dark: hsl(8, 83%, 54%);

$font-oswald: var(--font-oswald);
$font-nunito: var(--font-nunito);