@use "./theme" as *;
@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
}

::after,
::before {
    content: '';
    position: absolute;
}


mark {
    background-color: change-color($color: $color-cinnabar-dark, $saturation: 80%, $lightness: 50%, $alpha: 1.0);
    border-radius: 1rem;
    padding: 0rem 1rem;
    line-height: 1;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

body {
    background-attachment: fixed;
    // background-color: $color-black-night;
    background: $background;
    color: $foreground;
    font-family: $font-nunito;
    font-size: 1.6rem;
    transition: .14s linear all;
}

html {
    font-size: 62.5%;
}


a,
button {
    cursor: pointer;
}


button,
iframe,
input,
textarea {
    all: unset;
}

li,
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: $color-white;
}

.special-text {
    color: $color-cinnabar-dark;
}