@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    margin:15vh auto 5vh auto;
    width:clamp(5rem, 160rem, 95%);
}

.box {
    animation: show_x_left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.title {
    @include font(clamp(4rem, 6.3vw, 9rem), 700, 1.1, null, null,start);
    font-family: $special;
}

.content {
    @include font(clamp(1.6rem, 1.8vw, 2rem), 400, 1.7, null, null, start);
    color:$platinum;
    margin-top: 1.5rem;
    max-width: 60ch;
    opacity: 0.82;
}

.cards {
    margin:2rem auto 0;
    width:clamp(5rem, 45rem, 94%);
    &,
    & > .card{
        @include flex(flex-start,flex-start, column, .45rem,.45rem);
    }
}

.card {
    animation: show_x_right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    &,
    & > * {
        width: 100%;
    }
    & > *:not(.card__line){
        padding: 0.85rem;
    }
}

.card__title {
    @include font(clamp(1.92rem,2.5vw, 2.8rem), 600, 1, null, null,start);
    color:$hunyadi;
}

.card__line {
    @include size(2.5px,100%);
    background-color: color-mix(in srgb, $platinum 40%, $hunyadi 60%);
    border-radius: 1rem;
    display: block;
}

.card__content {
    @include font(clamp(1.6rem, 1.71vw, 1.9rem), 300, 1.3, null,null,start);
}

@media only screen {
    @media (min-width:745px){
        .wrapper {
            grid-template-columns: repeat(2,1fr);
        }
        .cards {
            margin:7rem auto 0;
            width:clamp(5rem, 55rem, 94%);
        }
    }
}