@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:7vh auto 3vh;
    width:clamp(5rem, 95vw, 95%);
}

.container {
    @include flex(flex-start,flex-start,column);
}


.title {
    @include font(clamp(4rem, 7vw, 13rem), 700, 1.3, null, null, start);
}

.content {
    @include font(clamp(1.5rem, 1.65vw, 1.8rem), 400,1.7, null, null, start);
    max-width: 65ch;
    text-wrap: balance;
}


.cards {
    @include flex(center,flex-end, row wrap, 1.2rem, 1.2rem);
}

@media only screen {
    @media (min-width:1000px){
        .cards {
            & > *:nth-of-type(odd){
                margin-top: 6rem;
            }
        }       
    }
}