@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper{
    @include flex(center,center, row nowrap,1.2rem);
    box-shadow: 0 0 1rem rgba($black,.7), 0 0 1rem rgba($platinum,.27);
    border-radius: 1rem;
    min-width:13.2rem;
    padding: 1.05rem 2rem;   
    transition:.12s linear background-color, .12s linear color;
}

.label {
    @include font(1.9rem, 500, 1, null, null, start);
}

.icon {
    @include flex(center,center);
    @include size(3rem, 3rem);
    border-radius: 50%;
    font-size: 3rem;
    transition:.12s linear border;
}

.wrapper {
    &[data-theme="light"]{
        background-color: $white;
        color:$black;
        .icon {
            border:2px solid rgba($black, .25);
        }
        &:focus-within,
        &:hover {
            background-color: $platinum;
        }
    }
    &[data-theme="dark"]{
        background-color: $black;
        color:$white;
        .icon {
            border:2px solid rgba($white, .25);
        }
        &:focus-within,
        &:hover {
            background-color: $erie;
        }
    }
}