@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,space-between, row nowrap);
    background-color: $gray;
    color:$white;
    cursor: pointer;
    transition:.07s linear background-color;

    &:focus-within,
    &:hover {
        background-color: $chartreuse;
        .title {
            color:$dim;
        }
        .icon {
            color:$chartreuse;
        }
    }
}

.icon {
    @include flex(center,center);
    @include size(3.5rem,3.5rem);
    background-color: $dim;
    color:$gray;
    font-size: 3rem;
    transition: .07s linear color;
}

.title {
    @include font(clamp(1.6rem, 2.2vw,2.4rem), 400, 1.077,uppercase, null, start);
    font-family: $font_mono;
    padding: 0rem 1rem;
    transition:.07s linear color;
}