@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:5vh auto;
    width: 95vw;
}

.title {
    @include font(clamp(6.25rem, 9vw, 15rem), 700, 1.1, null, null, start);
}

.content {
    @include font(clamp(1.6rem,1.8vw,2rem), 300, 1.7, null, null, start);
    margin-top: 2rem;
    max-width: 75ch;
}

.cards {
    display: grid;
    gap:2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(1,85%);
    justify-content: end;
    justify-items: center;
    margin-top: 5rem;
}

@media only screen {
    @media (min-width:550px){
        .cards {
            grid-template-columns: repeat(auto-fill,35rem);
        }
    }
}