@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:5vh auto;
    width: 95vw;
}

.title {
    @include font(clamp(5rem, 9vw, 15rem), 700, 1.1, null, null, start);
}

.content {
    @include font(clamp(1.6rem,1.8vw,2rem), 300, 1.7, null, null, start);
    margin-top: 2rem;
    max-width: 75ch;
}

.cards {
    // @include flex(flex-start, flex-start, row wrap, 1rem, 1rem, true);
    // background: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit,45rem);
    gap:2rem;
    margin-top: 5rem;
    justify-self: end;

}