@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start,flex-start,column, null, 1.2rem);
    // background-color: $erie;
    padding: 3rem;
    border:2px solid color-mix(in srgb, $erie 30%, $din 70%);
    border-radius: 1dvw;
    transition:.2s linear background-color;
    &:focus-within,
    &:hover {
        background-color: color-mix(in srgb, $erie 30%, $black 70%);
    }
}

.content {
    @include font(clamp(1.5rem, 1.7vw,1.9rem),300,1.6, null,null,start);
    text-wrap:pretty;
}

.title {
    @include font(clamp(2.4rem,4.5vw,7rem), 600, 1, null, null, start);
    color:$orange;
    margin-top: .7rem;
}

.slogan {
    @include font(clamp(1.4rem,2.5vw,3rem), 600, 1, null, null, start);
    color:color-mix(in srgb, $din 60%, $silver 40%);
}

@media only screen {
    @media (min-width:805px){
        .wrapper {
            padding:2rem 1.2rem;
        }
    }
}