@import "../../../../../styles/vars.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 3.75rem;
  padding: 0.45rem;
  position: relative;
  overflow: hidden;
  width: 3.75rem;

  &:focus-visible,
  &:hover {
    .line {
      background-color: $orange;
    }
  }

  &[data-active="true"] {
    .line {
      left: 50%;
      position: absolute;
      top: 50%;
      width: 60%;

      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: translate(-50%, -50%) scaleX(0);
      }

      &:nth-of-type(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.line {
  border-radius: 0.2em;
  background-color: $alabaster;
  display: block;
  height: 4px;
  transition: 0.12s linear transform;
  width: 100%;
}


@media (min-width:1000px) {
  .wrapper {
    display: none;
  }
}