@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    background-attachment: fixed;
    background-image: $orangeGradient;
    display: grid;
    gap:5rem;
    overflow: hidden;
    padding: 9vh 4vw 0 4vw;
}

.media {
    aspect-ratio: 1/1;
    display: block;
    position: relative;
}

.image{
    filter:grayscale(100%);
    object-fit: contain;
    object-position: bottom right;
    transform-origin: bottom;
    transform: rotateY(180deg) scale(1.15) translateY(1rem);
}

.container {
    @include flex(flex-start,flex-start,column,null,2rem);
    padding-bottom: 5rem;
}

.title {
    @include font(clamp(3.5rem, 11vw, 19rem), 900, 1, null, null, start);
    text-wrap: balance;
}

.content {
    @include font(clamp(1.5rem,1.67vw, 1.9rem), 400, 1.7, null, null, start);
    max-width: 70ch;
    text-wrap: pretty;
}

@media only screen {
    @media (min-width:575px){
        .wrapper{
            grid-template-columns:3fr 2fr;
            margin:16vh 0 4vh;
            min-height: 90vh;
        }

        .media {
            aspect-ratio: unset;
            grid-column: 2;
        }

        .container {
            padding-bottom: 20vh;
        }
    }
}