@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    @include flex(center,center, row nowrap,.45rem);
    color:color-mix(in srgb, $jet 60%, $platinum 40%);
    padding: 0.63rem 0.45rem;
    position: relative;
    &::after {
        @include size(3px , 100%);
        background-color:color-mix(in srgb, $jet 60%, $platinum 40%);
        opacity: 0.6;
        border-radius: 1rem;
        bottom: 0;
        left: 0;
        position: absolute;
        transform-origin: left;
        transform: scaleX(0);
        transition:.2s linear transform;
    }

    &:focus-within,
    &:hover {
        &::after {
            transform: scaleX(1)
        }
    }
}

.icon {
    @include flex(center,center);
    font-size: 2.3rem;
    font-size: 2rem;
}


.title {
    @include font(clamp(1.7rem, 2vw,2.6rem), 700,1, start, nowrap, $code,lowercase );
}