@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    background-color: $black;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 5.75rem auto;
    left: 0;
    padding: 0.45rem 2vw;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

@media only screen {
    @media (min-width:1050px){
        .wrapper {
            background-color: rgba($black,.86);
            backdrop-filter: blur(1rem);
            gap:1rem;
            grid-template-columns: repeat(17,1fr);
            grid-template-rows: 6.75rem;
            padding: 0.65rem 1.2vw;
        }
    }
}