@import "../../../../styles/vars.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.95em;
  grid-row: 1;
  padding: 0rem 1em;
}

