// COLORS ===================================
$black:rgb(0, 0, 0);
$blue: rgb(30, 69, 242);
$green: rgb(55, 255, 0);
$gray-cadet:rgb(158, 158, 158);
$gray-dim:rgb(107, 107, 107);
$jet:rgb(50, 50, 50);
$onyx:rgb(61, 61, 61);
$red:rgb(255, 18, 18);
$seasalt:rgb(250, 250, 250);
$seasalt-dark:rgb(246, 246, 246);
$white:rgb(255, 255, 255);
$white-salt:rgb(243, 243, 243);