// COLORS ===================================
$black:rgb(0, 0, 0);
$green-dark:rgb(7, 44, 11);
$green-pigment:rgb(33, 160, 69);
$green-pastelle:rgb(112, 255, 100);
$green:rgb(18, 255, 113);
$green-lime:rgb(18, 255, 113);
$green-malachite:rgb(22, 223, 103);
$green-spring:rgb(89, 243, 151);
$green-tea:rgb(206, 255, 202);
$jet:rgb(57, 55, 55);
$onyx:rgb(61, 61, 61);
$silver:rgb(191, 191, 191);
$white:rgb(255, 255, 255);