@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    background-color: $blue;
    background-image: linear-gradient(to bottom right, $blue, $purple);
    min-height:95vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows:calc(100% - 8rem) 8rem;
    padding:6vh 2vw 1vh;
    width: 100%;
}

.box,
.image__wrapper {
    grid-row: 1;
}

.box {
    @include flex(flex-start,center,column, null, null, start);
    grid-column: 1/5;
    grid-column: 1/-1;
}

.title {
    @include font(clamp(2.2rem, 2.6vw, 3.1rem), 700, 1.82, null, null, start);
    background: purple;
}

.slogan {
    @include font(clamp(5.2rem, 6.3vw, 15rem), 700, .82, null, null, start);
    background: salmon;

}

.content {
    @include font(clamp(1.6rem, 1.7vw, 2.3rem), 500, 1.4, null, null, start);
    @include font(clamp(2.1rem, 2.3vw, 3.2rem), 500, 1.64, null, null, start);
    margin:2rem 0;
    opacity: 0.85;
    text-wrap:balance;
    max-width: 50ch;
}

.image__wrapper {
    // background: black;
    display: block;
    display: none;
    grid-column: 5/-1;
    position: relative;
}

.image {
    object-fit: contain;
    object-position: center;
    padding: 4rem;

}

.socials {
    @include size(5.6rem,100%);
    @include flex(center,flex-start, row wrap, 1rem, 1rem);
    grid-column: 1/-1;
    grid-row: 2;
    margin:auto;
    padding: 0 1.4vw;
}

@media only screen {
    @media (min-width:715px){
        .box {
            grid-column: 1/5;
        } 
        .content {
            font-size: clamp(1.73rem, 1.87vw, 2.7rem);
        }

        .image__wrapper {
            display: block;
        }
    }
}