@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper ,
.box {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.wrapper {
    gap:.5rem;
    margin:2rem auto;
    width:95%;
    & >* {
        border-radius: 1.2rem;

    }
}

.box,
.video {
    @include size(80vh,100%);
}

.box {
    grid-column: 1/-1;
    overflow: hidden;
    position: relative;
}

.video {
    grid-column: 1/-1;
    grid-row: 1/7;
    object-fit: cover;
    object-position: center;
}

.image__wrapper {
    display: block;
    grid-column: 1/-1;
    grid-row: 3/7;
    position: relative;
    z-index: 2;
}

.image{ 
    object-fit: contain;
    object-position:center bottom;
    transform: scale(2) rotateY(180deg);
}

.details {
    @include flex(flex-start,center,column);
    grid-column: 1/-1;
    grid-row: 1/3;
    padding: 2rem;
    z-index: 3;
    & > *:not(.buttons) {
        text-shadow:0 0 1rem $black;
    }
}

.title {
    @include font(clamp(1.7rem, 2vw, 2.43rem), 300, 1.1, null, null, start);
    font-family: $mono;
    margin-bottom: 2rem;
}

.slogan {
    @include font(clamp(4.7rem, 5.7vw, 10.2rem),800, .92, null, null, start);
}

.buttons {
    @include flex(flex-start, flex-start, row wrap, 1rem, 1rem);
    margin-top: 3.2rem;
}

.content,
.indursties {
    min-height:16vh;
    padding: 2rem;
}

.content {
    @include font(clamp(1.7rem, 1.9vw, 2.4rem), 600, 1.5, null, null, start);
    background:$green-dark;
    grid-column: 1/-1;
}

.indursties {
    @include flex(center,center, row wrap, 1.5rem, 1.5rem);
    background: $green-pastelle;
    grid-column: 1/-1;
}

@media only screen {
    @media (min-width:660px){
        .content {
            font-size: clamp(2.3rem, 2.6vw, 2.9rem);
        }
    }
    @media (min-width:750px){
        .video {
            grid-row: 1;
        }
        
        .image__wrapper {
            grid-column: 1/6;
            grid-row: 1;
        }
        
        .image{ 
            transform: scale(1.7) rotateY(180deg);
        }
        
        .details {
            grid-column: 5/-1;
            grid-row: 1;
            padding: 0;
        }
        .slogan {
            font-size: clamp(5.7rem, 6.7vw, 13.2rem);
        }
    }
    @media (min-width:1250px){
        .image{ 
            transform: scale(1.2) rotateY(180deg);
        }
        
        .details {
            grid-column: 6/-1;
        }
        .content {
            grid-column: 1/7;
            padding: 3.5rem;
        }
        
        .indursties {
            grid-column: 7/-1;
        }
    }
}