@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,flex-start, row nowrap,1rem);
    @include size(4rem,100%);
     & > a{
        @include font(3.2rem,600,1, null, null, start);
        color:$white;
        transition:.12s linear color;
        &:focus-within,
        &:hover {
            color:$orange;
        }
     }
}


@media only screen {
    @media (min-width:630px){
        .wrapper {
            height: 7rem;
             & > a {
                font-size: 4.7rem;
             }
        }
    }
    @media (min-width:1050px){
        .wrapper {
            width: auto; 
            &> a {
                font-size: 1.5rem;
            }
        }
    }
}