@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    @include font(clamp(2.6rem, 3vw, 3.4rem), 600, 1, uppercase, null, start);
    color:$black;
    height: 3.85rem;
    position: relative;
    &::after {
        @include size(2px,100%);
        background-color:$orange;
        bottom: 0;
        position: absolute;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition:.12s linear transform;
    }
    &:focus-within,
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

@media only screen {
    @media (min-width:700px){
        .wrapper {
            font-size: 4.75rem;
        }
    }
    @media (min-width:1050px){
        .wrapper {
            height: 2.3rem;
            font-size: 1.9rem;
        }
    }
}