// FONTS ===================================
$special:var(--special);
$heading:var(--heading);
$code:var(--code);
$cursive:var(--cursive);
$regular:var(--regular);
// COLORS ===================================
$black:rgb(0, 0, 0);
$onyx:rgb(64, 64, 64);
$gray:rgb(145, 145, 145);
$platinum:rgb(226, 226, 226);
$white:rgb(255, 255, 255);
$erie:rgb(31, 31, 31);
$jet:rgb(51, 51, 51);
$orange:rgb(255, 132, 0);
$green:rgb(47, 255, 0);
$aurelion:#f5e41a;
$hunyadi:#fbb23f;
$yellow:#f9ea32;
$payne:#41617d;
$indigo:#1c4364;
$blue:#113a5d;