@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    // background: #222;
    gap:1rem;
    display: grid;
    // grid-template-rows: auto auto;
    // grid-template-columns: repeat(2,1fr);   
    margin:2vh auto;
    width:95%;
}

.container {
    padding: 2rem;
    @include flex(flex-start,flex-start,column,2rem,2rem);
    border-radius: 1dvw;
    // padding: 2rem;
    grid-column: 1;
    z-index: 99;
    grid-row: 1;
}
.slogan {
    opacity: 0.8;
}

.title {
    @include font(clamp(1.95rem,5.7vw,11.8rem),800,1.1,null,null,start);
}

.content {
    @include font(clamp(1.75rem,1.95vw,2.3rem),400,1.7,null,null,start);
    color:$silver;
    max-width: 70ch;
    text-wrap: pretty;
    padding: 1.3rem;
}

.media {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 1dvw;
    overflow: hidden;
    aspect-ratio: 16/9;
    filter: sepia(100%);
    grid-row: 2;
    display: none;
    grid-column: 1/6;
}

.image {
    object-fit: cover;
    object-position: center;
}

.cards {
    @include flex(flex-start,flex-start,column,1rem,1rem);
    // background: white;
    grid-column: 1;
    grid-row: 2;
    gap:1rem;
    & > * {
        width: 100%;
    }
}

@media only screen {
    @media (min-width:805px){
        .cards {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap:.3rem;
        }
    }
    @media (min-width:1340px){
        .cards {
            @include flex(flex-start,flex-start,column,1rem,1rem);
            grid-column: 1;
            grid-row: 1;
        }
        .container {
            grid-row: 1;
            grid-column: 2;
        }
    }
}