@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    @include flex(center,center);
    @include size(5rem,5rem);
    font-size: 3.2rem;
    position: relative;
    &::after {
        @include size(2px,100%);
        background-color: $black;
        bottom: 0;
        position: absolute;
        right: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: .2s linear transform;
    }
    &:focus-within,
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}