@import "../../../../../styles/vars.scss";

.wrapper {
  aspect-ratio: 1/1.15;
  background-color: color-mix(in srgb, $black 65%, $jet 35%);
  border-radius: 2rem;
  display: grid;
  flex-shrink: 0;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 2rem;
  transition: 0.2s linear background-color;
  width: 44rem;
  width: 32rem;
  &:focus-within,
  &:hover {
    background-color: color-mix(in srgb, $black 40%, $jet 60%);
  }
}

.media {
  aspect-ratio: 16/10;
  border-radius: 2rem;
  display: block;
  flex: 1;
  grid-column: 5/-1;
  grid-row: 1/5;
  margin: 0 0 auto auto;
  overflow: hidden;
  position: relative;
  width: clamp(5rem, 15rem, 100%);
}

.release {
  color: $platinum;
  font-size: clamp(1.35rem, 1.45vw, 1.55rem);
  font-weight: 600;
  grid-column: 1/5;
  grid-row: 1/5;
}

.image {
  object-fit: cover;
  object-position: center;
}

.container {
  align-items: start;
  display: flex;
  flex: 3;
  flex-flow: column;
  gap: 2rem;
  grid-column: 1/-1;
  grid-row: 5/13;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: clamp(1.9rem, 2.4vw, 3.4rem);
  font-weight: 800;
  line-height: 1.2;
}

.categories {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.4rem 0.1rem;
  justify-content: flex-end;
  width: 100%;
}

.category {
  background-color: color-mix(in srgb, $black 85%, $jet 15%);
  border-radius: 1rem;
  font-size: clamp(1.3rem, 1.45vw, 1.55rem);
  padding: 0.38rem 0.85rem;
  transition:
    0.02s linear background-color,
    0.02s linear color;
  &:focus-within,
  &:hover {
    background-color: color-mix(in srgb, $white 85%, $jet 15%);
    color: color-mix(in srgb, $black 85%, $jet 15%);
  }
}

.line {
  line-height: 1;
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .wrapper {
    aspect-ratio: 1/1;
    width: 44rem;
  }
}
