@import "../../../../../styles/vars.scss";

.wrapper {
  width: 100%;
  &[data-dropdown="true"] {
    display: grid;
    grid-template-columns: calc(100% - 4rem) 4rem;
  }
}

.link {
  align-items: center;
  color: $smoke;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.link[data-submenu="false"] {
  font-size: 1.2em;
  font-weight: 800;
  transition: 0.2s linear color;
  &:focus,
  &:focus-within,
  &:hover {
    color: $orange;
  }
}
.link[data-submenu="true"] {
  color: color-mix(in srgb, $alabaster 75%, $night);
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.2s linear color;
  &:focus-within,
  &:hover {
    color: $white;
  }
}

.button {
  align-items: center;
  display: flex;
  height: 2.72rem;
  justify-content: center;
  margin: auto;
  width: 2.72rem;
  &:focus,
  &:focus-within,
  &:hover {
    .icon {
      fill: $orange;
    }
  }
}

.icon {
  fill: $alabaster;
  height: 75%;
  transition: 0.2s linear fill;
  width: 75%;
}


@media (min-width:675px){
  .wrapper {
    min-width: max-content;
    &[data-dropdown="true"] {
      gap:.33em;
      grid-template-columns: max-content 1.03em;
    }
  }
  .link[data-submenu="false"] {
    font-size: 1.03em;
  }
  .link[data-submenu="true"] {
    font-size: .73em;
  }
  .button {
    height: 1.03em;
    width: 1.03em;
  }
}
@media (min-width:1270px){
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-flow:row nowrap;
    max-width: max-content;
    &[data-dropdown="true"] {
      max-width: max-content;
    }
  }
  .link[data-submenu="false"] {
    font-size: .92em;
    font-weight: 500;
  }
  .link[data-submenu="true"] {
    font-size: .93em;
    font-weight: 400;
  }
}
