@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    grid-template-columns:3fr 1fr;
    min-height:65vh;
    &:nth-of-type(odd){
        background-color: color-mix(in srgb, $white 12%, $gray 88%);
    }
}

.container {
    @include flex(flex-start,space-between,column, null, null);
    padding: 1.4rem; 
    & >* {
        width: 100%;
    }
}

.image__wrapper {
    display: block;
    position: relative;
}

.image {
    object-fit: cover;
    object-position: center;
}

.details {
    @include flex(center,space-between, row wrap, null, null);
    border-bottom: 1px solid rgba($navy,.2);
    padding:1rem 0.5rem;
}

.content {
    @include font(clamp(1.5rem, 1.65vw, 1.7rem), 300, 1.3, null, null, start);
    color:$space;
    margin-bottom: 2rem;
    opacity: 0.7;
}

.button {
   & > * {
    display: inline-block;
   }

   &:focus-within,
   &:hover {
    .button__arrow {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
   }
}


.button__label {
    @include font(clamp(3.5rem, 4.72vw, 6.1rem), 600, 1.1, null, null, start);
}

.button__arrow {
    color:$navy;
    cursor: default;
    font-size: clamp(1.6rem, 1.9vw, 2.3rem);
    opacity: 0;
    transform: translateY(1.3rem);
    transition: .23s linear opacity, .23s linear transform,.23s linear  visibility;
    visibility: hidden;
}

@media only screen {
    @media (min-width:600px){
        
        .wrapper {
            grid-template-columns:2fr 1fr;
            min-height:65vh;
        }

        .container {
            padding: 2.4rem; 
        }

    }
    @media (min-width:700px){
        
        .wrapper {
            grid-template-columns: repeat(2,1fr);
            min-height:70vh;
        }

        .container {
            padding: 2.4rem; 
        }

    }
    @media (min-width:1100px){
        
        .wrapper {
            min-height:75vh;
        }

        .container {
            padding: 4rem; 
        }

    }
}