@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:4vh 0;
}

.container {
    @include flex(flex-start,flex-start,column, null, 1rem);
    padding: 3rem;
}

.title {
    @include font(clamp(5rem, 15.72vw, 23rem), 700, 1,null,null, start);
}

.slogan {
    @include font(clamp(1.85rem,2.75vw,5.1rem),500, 1.1,null, null, start);
    color:color-mix(in srgb, $orange 40%, $white 60%);
    font-family: $bold;
}


.content{
    @include font(clamp(1.55rem, 2.5vw, 3.4rem), 300, 1.4, null, null, start)    ;
    text-wrap:pretty;
}

.cards {
    @include flex(flex-start,flex-start,row nowrap, 1rem, 1rem, true);
    overflow-x: scroll;
    padding:2rem;
}

@media only screen {
    @media (min-width:650px){
        .cards {
            display: grid;
            gap: 0.7rem !important;
            grid-template-columns: repeat(2,1fr);
            overflow-x: visible;
            padding: 1rem;
        }
    }
    @media (min-width:970px){
        .wrapper {
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }
        .container {
            grid-column: 1/5;
        }
        .cards {
            align-items: center;
            display: grid;
            gap: 0.2rem !important;
            grid-column: 1/-1;
            grid-row: 2;
            grid-template-columns: repeat(2,45rem);
            justify-items: flex-end;
            padding: 1rem;
        }
    }
    @media (min-width:1400px){
        .wrapper {
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }
        .container {
            grid-column: 1/7;
        }
        .cards {
            margin-top: 2.5vh;
        }
    }
    @media (min-width:1535px){
        .wrapper {
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }
        .container {
            grid-column: 1/7;
        }
        .cards {
            grid-column: 2/-1;
            grid-template-columns: repeat(3,1fr);
            margin-top: 2.5vh;
        }
    }
}