// FONTS ===================================


// COLORS ===================================
$black:rgb(0, 0, 0);
$blue:rgb(29, 24, 69);
$gray: rgb(221, 221, 221);
$fuchsia:rgb(175, 112, 203);
$space: rgb(34, 40, 49);
$violet:rgb(124, 89, 160);
$navy:rgb(48, 71, 94);

$red:rgb(240, 84, 84);


$white:rgb(255, 255, 255);


// GRADIENTS =================================


