
// FONTS
$bold:var(--protest);
$code:var(--source);
$regular:var(--mukta);

//  COLORS
$brunswick:rgb(0, 82, 70);
$celeste:rgb(196, 252, 240);
$hooker:rgb(76, 128, 119);
$orange:rgb(255, 119, 0);
$night:rgb(15, 19, 16);
$black:rgb(4, 5, 4);
$platinum:rgb(223, 224, 223);
$silver:rgb(239, 240, 239);
$white:rgb(255, 255, 255);
$wheel:rgb(255, 131, 23);
$cocoa:rgb(209, 99, 3);
$licorice:rgb(15, 3, 0);
$brown:rgb(4, 1, 0);

// GRADIENTS

$green_gradient:rgb(0, 82, 70), rgb(19, 65, 53), rgb(23, 49, 39), rgb(21, 34, 27), rgb(15, 19, 16);
$orange_gradient: rgb(211, 103, 9), rgb(255, 128, 18), rgb(255, 125, 13), rgb(243, 142, 54), rgb(175, 85, 7);
$gray_gradient: rgb(223, 224, 223), rgb(227, 228, 227), rgb(231, 232, 231), rgb(234, 235, 234), rgb(239, 240, 239);
$brown_gradient: rgb(15, 3, 0), rgb(13, 3, 0), rgb(10, 2, 0), rgb(7, 2, 0), rgb(4, 1, 0);
$night_gradient:rgb(4, 5, 4), rgb(4, 4, 3), rgb(4, 3, 1), rgb(4, 2, 1), rgb(4, 1, 0);