
// FONTS
$bold:var(--protest);
$code:var(--source);
$regular:var(--mukta);

//  COLORS
$black:rgb(6, 0, 8);
$grape:rgb(114, 9, 183);
$jet:rgb(24, 24, 24);
$lime:rgb(204, 255, 0);
$onyx:rgb(56, 59, 67);
$orange:rgb(243, 85, 11);
$platinum:rgb(227, 227, 227);
$purple:rgb(153, 51, 255);
$salmon:rgb(238, 108, 77);
$white:rgb(255, 255, 255);

// GRADIENTS
$bg:rgb(227, 227, 227), rgb(227, 226, 227), rgb(228, 225, 225), rgb(228, 223, 222), rgb(227, 223, 219);