@import "../../../styles/Mixins.scss";
@import "../../../styles/Utils.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    background-color: $black_1;
    position: fixed;
    top: 0; 
    z-index: 999;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 7rem auto;
}

.settings {
    @include flex(center,flex-end, row nowrap);
    padding: 0 2.3vw 0 0;
    grid-column: 7/-1;
    grid-row: 1;
}

@media (min-width:1000px){
    .wrapper{
        position: sticky;
        width: 100%;
        grid-template-rows: 6.5rem;

    }
    .settings {
        display: none;
    }
}

@media (min-width:1600px){
    .wrapper {
        grid-template-columns: 20rem calc(100% - 20rem);
    }
}