@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper{
    @include flex(center,center);
    @include font(clamp(1.5rem,1.8vw,2.3rem), 800, 1, null, null,center);
    border-radius: 2rem;
    border:3px solid $black;
    color:$black;
    min-width:13.2rem;
    padding: 1.05rem 2rem;  
    position: relative; 
    transition:.12s linear background-color, .12s linear color;
    z-index: 0;
    &:focus-within,
    &:hover {
        background-color: $black;
        color:$green-lime;
    }
}

