@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:1rem;
    padding: .5rem 1.2rem;
}

.column {
    padding: 3rem;
    // background: lime;
}

.title {
    @include font(clamp(1.6rem,1.7vw,2.3rem), 900, 1.15, null, null, start);
}

.menu {
    @include flex(flex-start,flex-start,column, null, .94rem, false);
    margin-top: 1rem;
    &__item {
        @include font(clamp(1.3rem,1.45vw,1.55rem), 500, 1.5, null,null, start);
        color:color-mix(in srgb, $white 20%, $silver 80%);
        transition: .12s linear color;
        &:focus-within,
        &:hover {
            color:color-mix(in srgb, $white 70%, $silver 30%);
        }
    }
}