@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";


.wrapper {
    background-color: color-mix(in srgb, $navy 2.5%, $space 10%);
    color:$black;
    display: grid;
    gap:2rem;
    // grid-template-columns: 3fr 2fr;
    margin:2vh 0;
    padding: 10vh 5vw;
}

.title {
    @include font(clamp(5.25rem, 9vw, 13rem), 700, 1.1, null, null, start);
}

.content {
    @include font(clamp(1.6rem,1.8vw,2rem), 300, 1.7, null, null, start);
    margin-top: 2rem;
    max-width: 75ch;
}

.cards {
    @include flex(flex-start,flex-start,column,null,.23rem);
    & > * {
        width: 100%;
    }
}

@media only screen {
    @media (min-width:1200px){
        .wrapper {
            grid-template-columns:3fr 2fr;
        }
    }
}