@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper,
.contacts {
    @include flex(flex-start,flex-start,column, null, .3rem);
}

.wrapper {
    position:sticky;
    row-gap: 2rem;
    top: 8rem;
}

.slogan,
.title {
    @include font(unset, unset, 1, start, balance, $bold);
}

.title {
    @include font(clamp(2.4rem, 3.5vw, 8.5rem), 900);
}

.slogan {
    @include font(clamp(1.9rem, 2.15vw, 2.3rem), 600);
    color:color-mix(in srgb, $onyx 60%, $platinum 40%);
}

.location {
    @include flex(flex-start,flex-start,column, null,.24rem);
    @include font(clamp(1.5rem, 1.6vw,1.7rem), 400, .92, null, null, null, null, normal);
}

.contact {
    @include flex(center,flex-start,row wrap, .45rem, .5rem);
    transition: .2s linear color;
    &__icon {
        @include flex(center,center);
        @include size(2.5rem,2.5rem);
        font-size: 2rem;
    }
    &__label {
        @include font(clamp(1.5rem, 1.65vw,1.7rem), 500, 1, start);
    }
    &:focus-within,
    &:hover {
        color:color-mix(in srgb, $black 40%, $salmon 60%);
    }
}