@import "../../../../styles/vars.scss";

.wrapper {
  align-items: center;
  border: 2px solid;
  border-radius: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
  padding: 1.25rem 3rem;
  position: relative;
  transition: 0.12s linear color;
  width: max-content;
  z-index: 0;

  &::after {
    height: 100%;
    transform: translateY(115%);
    transition: 0.12s linear transform;
    width: 100%;
    z-index: -1;
  }

  &:focus-within,
  &:hover {
    &::after {
      transform: translateY(0%);
    }

    .icon {
      transform: scale(1.05);
    }
  }
}

.title {
  font-size: clamp(1.45rem, 1.5vw, 1.9rem);
  font-weight: 600;
}

.icon {
  line-height: 1;
  font-size: 2rem;
  transition: 0.12s linear transform;
}

.wrapper[data-theme="dark"] {
  border-color: $black;
  color: $black;

  &::after {
    background-color: $black;
  }

  &:focus-within,
  &:hover {
    color: $white;
  }
}

.wrapper[data-theme="light"] {
  border-color: $white;
  color: $white;

  &::after {
    background-color: $white;
  }

  &:focus-within,
  &:hover {
    color: $black;
  }
}
