@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Utils.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start,center,column);
    background-color: $black_3;
    padding:7vh 1vw 7vh 5vw;
    & >*{
        width: 100%;
    }
}

.title {
    @include heading_section;
}

.cards {
    @include flex(flex-start,flex-start, row nowrap, 1rem, null, true);
    margin-top: 5rem;
    min-height:max-content;
    overflow-x: scroll;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        height: 0;
    }
}

.card {
    @include flex(flex-start,flex-start,column);
    min-height:max-content;
    width:20rem;
    &__title {
        @include heading_section($tangerine,clamp(1.8rem, 2.5vw, 3.7rem));
    }
    &__content {
        @include content_section(color-mix(in srgb, $jet 45%, $white 55%),clamp(1.4rem, 1.5vw, 1.65rem), 1.4);
        margin-top: 2rem;
        
    }
}

@media (min-width:950px){
    .wrapper {
        min-height:60vh;
    }

    .card{
        width: 35rem;
    }
}