@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Utils.scss";
@import "../../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start,space-around, column, null, .5rem);
    background-color: transparent;
    border:1px solid rgba($platinum, .2);
    border-radius: 1rem;
    width: clamp(5rem, 40rem, 95vw);
    padding: 1.5rem;
    width: 100%;
}

.tag {
    @include flex(center,center);
    @include font(clamp(1.3rem,1.5vw, 1.7rem), 500, 1, center,null, $righteous);
    background-color: color-mix(in srgb, $onyx 60%, $erie 40%);
    border-radius: .2dvw;
    color:$seasalt;
    margin: 0 0 0 auto;
    max-width: max-content;
    padding: 0.45rem 1.1rem;
}

.title {
    @include font(clamp(1.75rem, 2vw, 2.8rem), 500, 1, start, balance, $syne-mono, uppercase);
    color:$salmon;
    transition: .2s linear color, .2s linear filter;

    &:focus-within,
    &:hover {
        color:color-mix(in srgb, $white 90%, $orange 10%);
        filter:drop-shadow(0 0 1rem $orange);
    }
}

.content {
    @include font(clamp(1.4rem, 1.45vw, 1.55rem), 400, 1.75, start, pretty);
    margin-top: 2rem;
}