@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    margin:7vh auto;
    width:clamp(5rem, 140rem, 95%);
}

.image__wrapper {
    aspect-ratio: 1/1;
    background-color: color-mix(in srgb, $aqua 40%, $white 60%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin:2rem 0 1rem auto;
    width: 70%;
}

.image{
    transform: scale(1.3);
    object-fit: contain;

}

.box {
    padding: 0rem 2.3rem;
}


.title {
    @include font(clamp(4.75rem, 5.5vw, 13rem), 600, 1.2, null, null, start);
    color:$green;
    text-wrap:balance;
}

.content {
    @include font(clamp(1.65rem, 1.78vw, 1.86rem), 500, 1.9, null, null, start);
    margin:1.2rem 0 0;
    max-width: 40ch;
    text-wrap:balance;
    opacity: 0.89;
}


@media only screen {
    @media (min-width:650px) {
        .wrapper {
            display: grid;
            gap:1.2rem;
            grid-template-columns: repeat(12,1fr);
        }

        .image__wrapper {
            grid-column: 1/5;
            margin: auto;
            width: 80%;
        }

        .box {
            grid-column: 5/-1;
        }
    }
    @media (min-width:1020px) {
        .wrapper {
            margin:14vh auto;
            gap:2rem;
        }

        .image__wrapper {
            grid-column: 1/6;
            width: 91%;
        }

        .image {
            transform: scale(1.67);
        }

        .box {
            grid-column: 6/-1;
        }

        .title {
            font-size:clamp(4.75rem, 5.5vw, 13rem) ;
        }
        
        .content {
            font-size: clamp(1.79rem, 1.98vw, 2.36rem);
            margin:2.7rem 0 0;
            max-width: 55ch;
        }
        
    }
}