@import "../../../../styles/Animations.scss";
@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

@keyframes show_wrapper {
    from {
        background-color: rgba($seasalt-dark,0);
    }
    to {
        background-color: $seasalt-dark;
    }
}

.wrapper {
    animation: show_wrapper linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    align-items: center;
    background-color: $seasalt-dark;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin:5vh 0;
    padding: 6vh 4vw;
    min-height:70vh;
}

.box {
    animation: show_x_left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    grid-column: 1/-1;
}

.title {
    @include font(clamp(5.5rem, 7.6vw,11.75rem), 750, 1.1,null, null, start);
}

.content {
    @include font(clamp(1.5rem, 1.7vw, 1.9rem), 400, 1.6, null, null, start);
    margin-top: 1.2rem;
    max-width: 65ch;
}

.cards {
    @include flex(flex-start,flex-end, row wrap, .45rem,.45rem);
    grid-column:1/-1;
    margin-top: 1.5vh;
}

.card{
    @include flex(center,flex-start,column);
    @include size(37rem, 18.4rem);
    animation: show_x_right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    background-color: color-mix(in srgb, $white-salt 40%, $gray-dim 5%);
    border-radius: 1rem;
    max-width: 95%;
    padding: 2rem 1rem;
    & >* {
        text-align: center;
    }
}

.card__image__wrapper {
    aspect-ratio: 1/1;
    display: block;
    position: relative;
    width: 13rem;
}

.card__image {
    object-fit: cover;
    object-position: center;
}

.card__title {
    font-size: 2.47rem;
    text-wrap:balance;
}

.card__content {
    font-size: 1.56rem;
    max-width: 25ch;
    margin-top: 1.2rem;
}

@media only screen {
    @media (min-width:450px){
        .card{
            justify-content: center;
            width: 20rem;
            padding:0;
        }
    }
    @media (min-width:1100px){
        .card{
            justify-content: center;
            width: 24rem;
            padding:0;
        }
    }
    @media (min-width:1340px){
        .wrapper {
            padding: 6vh 2.4vw;
        }
        .card{
            width: 22rem;
        }
        .box {
            grid-column: 1/4;
        }
        .cards {
            @include flex(flex-start,center, row wrap, .45rem,.45rem);
            grid-column:4/-1;
            grid-row: 1;
            margin-top:0;
        }
        
    }
    @media (min-width:1550px){
        .wrapper {
            padding: 12vh 2.4vw;
        }
        .card{
            height: 50rem;
            width: 26rem;
        }
        .box {
            grid-column: 1/4;
        }
        .cards {
            grid-column:4/-1;
            grid-row: 1;
            margin-top:0;
        }
        .card__title {
            margin-top: 2rem;
        }
    }
}