@import "../../../../styles/vars.scss";

.wrapper {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 0;
  & > * {
    grid-column: 1/-1;
  }
}

.media {
  grid-row: 1/8;
  height: 100%;
  overflow: clip;
  position: relative;
  width: 100%;
  z-index: 0;
}

.video {
  height: 100%;
  object-fit: cover;
  object-position: 40%;
  width: 100%;
}

.container {
  background-color: color-mix(
    in srgb,
    rgba($jet, 0.45) 40%,
    rgba($black, 0.45) 60%
  );
  color: $white;
  display: grid;
  gap: 5.5px;
  grid-row: 3/8;
  grid-template-rows: 1.5px repeat(8, 1fr);
  padding: 1rem 1rem 3rem;
  z-index: 1;

  & > * {
    grid-column: 1/-1;
  }
}

.line {
  background-color: rgba($platinum, 0.75);
  display: block;
  height: 1px;
  grid-row: 1;
  width: 100%;
}

.content {
  font-size: clamp(1.2rem, 1.35vw, 1.44rem);
  font-weight: 300;
  grid-row: 2;
  line-height: 1.4;
  max-width: 40ch;
  text-wrap: pretty;
}

.title {
  align-items: end;
  display: flex;
  font-family: var(--anton);
  font-size: clamp(7rem, 12vw, 19rem);
  font-weight: 900;
  grid-row: 3/6;
  justify-content: flex-start;
  line-height: 1;
}

.services {
  grid-row: 6/8;
}

.blog {
  grid-row: 8;
}

.buttons {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.35rem;
  grid-row: 9;
  justify-content: flex-end;
}

@media (min-width: 750px) {
  .container {
    grid-row: 4/8;
    grid-template-columns: repeat(14, 1fr);
  }

  .content {
    grid-column: 1/-1;
  }

  .services {
    grid-column: 1/12;
    grid-row: 6/9;
  }

  .blog {
    grid-column: 1/12;
    grid-row: 9;
  }

  .buttons {
    align-items: flex-end;
    flex-flow: column;
    gap: 1rem;
    grid-column: 12/-1;
    grid-row: 6/10;
    justify-content: center;
    padding: 0.45rem;
  }
}

@media (min-width: 985px) {
  .buttons {
    align-items: center;
    flex-flow: row;
    justify-content: flex-end;
  }

  .content,
  .title {
    grid-column: 1/8;
  }

  .content {
    grid-row: 2/6;
  }

  .title {
    grid-row: 6/10;
  }
  .buttons,
  .blog,
  .services {
    grid-column: 8/-1;
  }

  .blog,
  .services {
    margin: 0 0 0 auto;
    max-width: 75rem;
    width: 100%;
  }

  .services {
    grid-row: 2/6;
  }

  .blog {
    grid-row: 6/8;
  }

  .buttons {
    grid-row: 9;
  }
}
