@import "../../../../styles/vars.scss";

.wrapper {
  align-items: baseline;
  display: grid;
  grid-template-areas: "layer";
  height: 100vh;
  margin-bottom: 10vh;
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  & > * {
    grid-area: layer;
  }
}

.media {
  display: block;
  filter: brightness(90%);
  height: 100%;
  position: relative;
  width: 100%;
  z-index: -1;
}

.video {
  height: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
  object-fit: cover;
  object-position: 50%;
  width: 100%;
}

.container {
  background-color: rgba($black, .15);
  bottom: 0;
  color: $white;
  display: grid;
  gap:.5rem;
  grid-template-rows:2px repeat(7,1fr);
  height: 90%;
  padding: 3rem 1rem 2.5rem 1rem;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.line {
  background-color: $platinum;
  border-radius: 1rem;
  grid-column: 1/-1;
  grid-row: 1;
  height: 1px;
  opacity: 0.35;
  width: 100%;
}

.content {
  font-size: 1.35rem;
  font-weight: 300;
  grid-row: 2/3;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  max-width: 30ch;
}

.title {
  align-items: end;
  display: flex;
  font-family: var(--anton);
  font-size: clamp(4rem, 10vw,20rem);
  grid-row: 3/5;
  justify-content: flex-start;
  line-height: 1;
}

.services {
  grid-row: 5/8;
}

.buttons {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap:.45rem;
  grid-row: 8;
}


@media (min-width:700px){
  .container {
    grid-template-columns: repeat(12, 1fr);
    height: 60%;
    padding: 3rem 2rem 6rem 2rem;
  }
  
  .content {
    grid-row: 2/4;
  }

  .title,
  .content {
    grid-column: 1/7;
  }
  
  .title {
    grid-row: 4/9;
  }
  
  .buttons,
  .services {
    grid-column: 7/-1;
  }

  .services {
    grid-row: 3/7;
  }
  .buttons {
    grid-row: 7/8;
  }
}