@import "../../../styles/Mixins.scss";
@import "../../../styles/Utils.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    background-image: linear-gradient(to bottom, $black_1 , $black_3);
    padding: 9vh 3.2vw 3vh 3.2vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.line {
    @include size(2px,100%);
    background-color: rgba($white_platinum, .2);
    display: block;
    margin:2.4rem 0;
}

.details {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}