@import "../../../styles/Mixins.scss";
@import "../../../styles/Utils.scss";
@import "../../../styles/Variables.scss";

.wrapper {
    background-color: green;
    background-color: color-mix(in srgb, $black_1 55%, $blue_delift 45%);
    min-height: 75vh;
    display: grid;
    padding:10vh 4vw 5vh 4vw;
    grid-template-areas: 
        "details menu menu menu menu"
        "details menu menu menu menu"
        "details menu menu menu menu"
        "details menu menu menu menu"
        "details menu menu menu menu"
        "details menu menu menu menu"
        "details menu menu menu menu"
        "line line line line line"
        "author author author socials socials"
        "author author author socials socials"
    ;
}

.details {
    grid-area: details;
}

.menu {
    // background: pink;
    align-items: center;
    direction: rtl;
    justify-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 35rem));
    gap:1rem;
    grid-area: menu;
    li {
        @include size(100%,100%);
        // background: red;
        direction: ltr;
        h4 {
            @include heading_section($fontSize:clamp(1.45rem, 1.92vw, 2.42rem));
            // background: rgb(0, 0, 0);
        }
        ul {
            @include flex(flex-start,flex-start, column);
            margin-top: 0.5rem;
            a {
                @include content_section;
            }
        }
    }
}

.author {
    grid-area: author;
}

.socials {
    @include flex(center, flex-end, row wrap, .65rem, .65rem);
    grid-area: socials;
    a {
        @include flex(center,center);
        @include size(4rem, 4rem);
        font-size: 2.3rem;
    }
}