@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Utils.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    // display: grid;
    // grid-template-columns: repeat(9,1fr);
    position: relative;
    margin: 10vh 0;
}

.container {
    // position: sticky;
    // top: 8rem;
    max-height: max-content;
    grid-column: 1/4;
    padding: 1.2rem;
}

.title {
    @include heading_section(clamp(4.5rem,5.75vw, 13rem));
}

.content {
    @include font(clamp(1.6rem, 1.8vw, 2rem),400, 1.7, start, pretty);
    color:color-mix(in srgb, $jet 50%, $platinum 50%);
    margin-top: 4rem;
    margin-top: 1.4rem;
}

.slider {
    height:max-content;
    background: pink;
    padding: 2rem;
    overflow: hidden;
}